// Colors
$gray: #eee;

// Angular
[ng-click] {
  &:hover {
    cursor: pointer;
  }
}
 
// Main content bg color
md-content.md-default-theme {
  background-color: $gray;
}

// Navigation drawer pattern: https://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-specs
md-sidenav {
  & > md-toolbar {
    padding: 15px;
    height: 150px;
    max-height: 150px;
  }
  & md-list-item.md-2-line .md-list-item-text {
    padding-top: 14px;
    padding-bottom: 12px;
  }
  & md-divider {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

// White svg icons in toolbar and fab

md-sidenav {
  md-icon {
    fill: #737373;
    position: relative;
  }
  .md-avatar {
    height: 64px;
    width: 64px;
  }
}

/* More closely matches https://www.google.com/design/spec/components/lists.html#lists-specs */
md-list-item.md-3-line {
  md-divider {
    &[md-inset] {
      left: 70px;
    }
  }
}

// Round avatar
.md-avatar {
  & > svg {
    border-radius: 50%;
  }
}

/* fade animation */
.animate-show {
    transition: 0.75s ease-out opacity;
    opacity: 1;
  &.ng-hide {
    height: 0;
    min-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px; 
  color:rgb(3,169,244);
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:315px; }
.bar:before, .bar:after 	{
  content:'';
  height:3px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background:rgb(3,169,244); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:10px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* end input styles  */


/* begin drop down select styles */

md-select {
  display: block;
  margin: 10px 0 8px 0;
  padding-bottom: 2px;
  position: relative;
  max-width: 180px; 
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  left:5px;
  top:10px;
  
  ul[role=listbox] {
    background-color: white;
    cursor: default;
    list-style: none;
    line-height: 26px;
    overflow: hidden;
    margin: 0;
    max-height: 0;
    position: absolute;
    padding: 0;
    transform: translateY(-50%);
    transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
    width: 100%;
    
    li {
      height: 48px;
      margin: 0;
      padding: 10px 16px;
      
      &:focus, &:hover, &.active {
        background: rgba(0,0,0,0.1);
      }
    }
  }
  
  &.active ul {
    max-height: 200px;
    overflow: auto;
    padding: 8px 0 16px 0px;
    z-index: 2;
  }
}

/* end drop down select styles */

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }